$primary: #3d6145;
$secondary: #8fa394;
$info: #ca8f97;
$dark: #23211d;
$light: #ffffff;

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: "Lexend";
  background-color: $light;
}

footer {
  position: fixed;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 21;
}

h1 {
  font-family: "Bodoni Moda";
  font-weight: 600;
}

.logo-background {
  cursor: default;
}

.logo {
  font-family: "Lily Script One";
  font-size: 4rem;
  cursor: pointer;
}

.header-home {
  background-image: url("./Image/home-venue.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  background-position: center;
}

.header-dark {
  background-color: $dark;
}

.link-hover:hover {
  text-decoration: none !important;
  background-color: $primary !important;
}

a {
  text-decoration: none;
  color: $dark;
}

.btn {
  border: 1px solid $dark;
  border-radius: 0%;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
  &:hover {
    background-color: $primary !important;
    color: $light;
  }
}

.card {
  border: 0;
}

.card-text {
  font-weight: lighter;
}
