@import "../styles.scss";

.logo-background {
  background-image: url("../Image/home-venue.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-position: center;
}
